@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-montserrat;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-bg {
  background: linear-gradient(270deg, #3b82f6, #06b6d4, #ec4899);
  background-size: 400% 400%;
  animation: gradient-move 8s ease infinite;
}

div#content {
  position: fixed;
  top: 80px;
  left: 40px;
  bottom: 25px;
  min-width: 200px;
  width: 40%;
  background: black;
}

div#content iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}